/* mobile and tablet */
@media (max-width: 63.9375em){
    .place-button {
        padding: 17px 16px;
    }

    .contact-send-infor .form-control {
        padding: 15px;
    }

    .contact-infor {
        line-height: 2.4;
    }

    #footer .social-list {
        font-size: 30px;
    }

    #footer .social-list a{
        margin: 0 8px;
    }

    #footer .copyright {
        font-size: 17px;
        display: inline-block;
        padding: 14px 0;
    }

    #footer .footer-link {
        font-size: 17px;
    }

    #nav .subnav a {
        padding: 5px 16px;
    }

    .form-submit{
        padding: 16px 16px;
    }
}

/* tablet */
@media (min-width: 46.25em) and (max-width:63.9375em){
    .form-submit {
        padding: 16px 27px;
    }
}

/* mobile */
@media (max-width: 46.1875em){
    .s-column-full{
        width: 100%;
    }

    #nav{
        display: block;
    }

    #nav>li {
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav .subnav{
        position: initial;
        background-color: black;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #nav>li:first-child{
        display: inline-block;
    }

    #header .search{
        display: none;
    }

    #header{
        overflow: hidden;
    }

    #header .mobile-menu{
        display: block;
    }

    #content .member-img{
        width: 60%;
        margin-bottom: 16px;
    }

    .form-submit{
        margin-right: 0;
    }

    .full-width{
        width: 100%;
    }

    .margin-top-64{
        margin-top: 64px !important;
    }

    .s-margin-top-8{
        margin-top: 8px;
    }

    .s-margin-top-16{
        margin-top: 16px;
    }

    #footer .social-list {
        font-size: 21px;
    }

    #footer .copyright {
        font-size: 14px;
    }

    #footer .footer-link {
        font-size: 14px;
    }
}

